header {
    background-color: #e2e2e2;
    padding: 1.5em;
}

header a {
    color: black;
    text-decoration: none;
}

header a .logo {
    font-weight: bold;
}

header nav {
    float: right;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
}

header nav ul li a {
    padding: 1em; 
}

header nav ul li a:hover {
    text-decoration: underline;
}