<div class="main-home">
    <h1>Welcome!</h1>
    <br>
    <div class="body-home">
        This application is used to validate ISBNs. The front-end is written in Angular and the web service this application uses is written in Java.
        <br>
        <br>
        To get started, click <a href="" routerLink="/validator">here</a> or access the validator in the navigation at the top right-hand corner.
        <br>
        <br>
        Enjoy!
        <br>
        <br>
        <br>
        <br>
        - Created by Whitney Heastie
    </div>
</div>